@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .border-test { border: 1px solid red; }
    .google-sans {
        font-family: "Google Sans", sans-serif;
        font-style: normal;
    }
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .animation-width {
        animation: widthAnimation 2s ease-in-out infinite;
    }
    @keyframes widthAnimation {
        0% { width: 0% }
        100% { width: 100% }
    }
}